* {
  box-sizing: border-box;
}

body,
main,
header,
section,
footer,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry {
  padding: 0 5%;
}

h1 {
  font-size: 2.4rem;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 1%;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 1.2rem;
  color: #f3f3f3;
  line-height: 28px;
  text-indent:40px;
  text-align: right;
  display: none;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: 500;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #37474F;
}

/* TODO: Replace with image later */
#header {
  background-color: #37474F;
  position: relative;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
}

footer .flex-box {
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 120px;
  border-radius: 20px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

.header-role {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
  color: #f3f3f3;
  padding-left: 10px;
  display: inline;

}

#lets-connect {
  text-align: center;
}

#projects {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 5%;
}

#projects h2 {
  width: 100%;
  padding: 10px 0;
}

.project-entry {
  float: left;
  margin-right: 15px;
  width: calc((100% - 15px)/3.1);
}

.project-entry:last-of-type {
  margin-right: 0;
}

.project-entry img {
  max-width: 100%;
  max-height: 350px;
  padding: 0;
  display: block;
  margin: auto; /* center image */
}

.project-entry p {
  font-size: 0.9rem;
  padding-bottom: 1%;
  min-height: 100px;
}

.work-entry p {
  font-size: 0.9rem;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

/*** Media queries to handle various device widths ***/

@media only screen and (max-width: 1024px) {

  .welcome-message {
    font-size: 1rem;
  }

  #lets-connect {
    margin-top: 5%;
  }

  .project-entry img {
    max-height: 250px;
  }

  .project-entry p {
    min-height: 130px;
  }
}


@media only screen and (max-width:900px) {

  .welcome-message {
    font-size: 0.8rem;
  }

  #topContacts > li span:first-of-type {
    display: none;
  }

  /*  add telephone icon as pseudo element  */
  #topContacts li:first-of-type span:before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background: url(../images/icons/phone.svg) center no-repeat;
    background-size: 15px;
    float: left;
  }

  /*  add envelope icon as pseudo element  */
  #topContacts li:nth-of-type(2) span:before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background: url(../images/icons/envelope.svg) center no-repeat;
    background-size: 15px;
    float: left;
  }

  /*  add github icon as pseudo element  */
  #topContacts li:nth-of-type(3) span:before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background: url(../images/icons/github.svg) center no-repeat;
    background-size: 15px;
    float: left;
  }

  /*  add github icon as pseudo element  */
  #topContacts li:last-of-type span:before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background: url(../images/icons/pin_location.svg) center no-repeat;
    background-size: 12px;
    float: left;
  }

  .project-entry img {
    max-height: 200px;
  }
}

@media only screen and (max-width: 750px) {

  #name {
    font-size: 1.2rem;
    line-height: normal;
  }

  .header-role {
    font-size: 0.8rem;
    padding: 0;
    display: block;
  }

    #lets-connect {
    margin-top: 10%;
  }

  h3 + .biopic {
    margin-right: 5%;
    border-radius: 20px 5px;
    float: right;
    width: 55px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  #topContacts {
    font-size: 0.8rem;
    padding: 0;
  }

  #skills,
  #topContacts > li span:first-of-type,
  #topContacts li:nth-of-type(3),
  #topContacts li:last-of-type,
  .education-entry .location-text {
    display: none;
  }

  h2, h3 {
    padding: 5px 5%;
  }

  #projects h2 {
    padding: 5px 0;
  }

  .project-entry {
    width: auto;
    float: none;
  }

  .project-entry img {
    height: 200px;
  }

  .project-entry a {
    margin-top: 0;
  }

  .gray {
    background: none;
  }
}

@media only screen and (min-width: 750px) {

  #topContacts + .biopic,
  .welcome-message {
    display: block;
  }
}

@media print and (color) {
  * {
    /** forces printing of background colors and images in browsers based on the WebKit engine **/
    -webkit-print-color-adjust: exact;
    /** this property maybe included in a future. This will be a cross-browser alternative to the one above.
    color-adjust: exact;*/
  }
}

@media print {

  .welcome-message,
 .biopic,
 #skills,
 #skills-h3 {
   display: none;
 }

 .main-section {
   page-break-inside: avoid;
 }

 #topContacts {
   font-size: 13px;
   padding: 0;
 }

  #map {
    height: 90%;
  }

  .project-entry img {
    height: 150px;
  }

  .project-entry p {
    min-height: 150px;
  }
}